<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings><add name="EstagiosEntities" connectionString="metadata=res://*/Estagio.csdl|res://*/Estagio.ssdl|res://*/Estagio.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.9;initial catalog=infod;persist security info=True;user id=SA;password=Homolog@2018;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="EstagioEntities" connectionString="metadata=res://*/Estagio.csdl|res://*/Estagio.ssdl|res://*/Estagio.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.9;initial catalog=infod;persist security info=True;user id=SA;password=Homolog@2018;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>